@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: $font-base;
    font-size: $font-size;
    color: $text-color;
}


h1,
h2,
h3,
h4 {
    margin-bottom: 1em;
}

/* text size */
.text--xxxl {
    font-size: $text-xxxl;
}

h1,
.text--xxl {
    font-size: $text-xxl;
}

h2,
.text--xl {
    font-size: $text-xl;
}

h3,
.text--lg {
    font-size: $text-lg;
}

h4,
.text--md {
    font-size: $text-md;
}

.text--sm,
small {
    font-size: $text-sm;
}

.text--xs {
    font-size: $text-xs;
}

p {
    margin-top: 0;
    margin-bottom: 0.625em
}

.bold {
    font-weight: 700;
}

.thin {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: $text-color;
}
