.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: $white;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background: $accent-color;
    transition: $transition-time;
    border: none;

    &:hover {
        box-shadow: $box-shadow;
        transition: $transition-time;
        cursor: pointer;
    }

    &:active {
        box-shadow: inset 0px 3px 7px rgba(37, 37, 37, 0.15);
    }

    &--full {
        width: 100%;
    }

    &--transparent {
        background: transparent;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }
}
