.cart-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 1em;
    border-bottom: 1px solid $text-color;

    &-info {
        display: flex;
        align-items: center;
        max-width: 320px;
    }

    &__img {
        width: 95px;
        height: 110px;
    }

    &-options {
        display: flex;
        align-items: center;

        input {
            margin-right: 1em;
        }
    }
}
